{% extends "_skeleton_template.html" %}
{% block title %}Lamar's Web Apps - Spellbook{% endblock %}
{% block content %}
    <h1 class="page-header"><center>Warning!  This digital spellbook is not a toy for you to play with.</center></h1>
    <h4><center>Head my warning and hear my plea</center></h4>
    <h4><center>For using the spells in this collection might not come free</center></h4>
    <br>
    <h4><center>It was not too long in the distant past</center></h4>
    <h4><center>When a powerful warlock a wicked spell did cast</center></h4>
    <br>
    <h4><center>So if you are not one of the few pure of heart</center></h4>
    <h4><center>It is better now that you bid adieu and part</center></h4>
    <br>
    <h4><center>It is Lamar who decides whether you are deserving</center></h4>
    <h4><center>And he can also tell if you're just posing</center></h4>
    <br>
    <h4><center>So before deciding to cast one of these spells</center></h4>
    <h4><center>Consider whether or not you're prepared for an eternity in hell</center></h4>
    <br>
    <h4><center>...</center></h4>
    <h4><center>And if you are pure of heart then feel free to just input your most craved desire and, just like magic, a spell suited for your needs might just heed your plead.</center></h4>

    <textarea type='textarea' id='siteInput' form='textform' name='desire'></textarea>
    <form action="{{ url_for('spellbook_result')}}" id='textform' method='post'>
      <input type="submit" id='submitButton' form='textform'>
    </form>

    <center style='position:relative; top:100px;'>
        <h3>Not sure what you're looking for?  Perhaps you're looking for one of these:</h3>
        <p>I want to find love.</p>
        <p>I want to alter the past.</p>
        <p>I want to change your appearance.</p>
        <p>I want to summon someone.</p>
        <p>I want good luck.</p>
        <p>I want to find something lost.</p>
    </center>
{% endblock %}