<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital Spellbook</title>
    <link rel="stylesheet" href="../static/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body class="bodystyle">

    <div id="header">
        <div class="navbar-header">
            <a class="navbar-brand" href="search.html">Digital Book Of Shadows</a>
        </div>
    </div>
    <div class="container">
        <h3><center>Reveal your most craved desire and, just like magic, a spell suited for your needs might just heed your plead.</center></h3>

        <textarea type='textarea' id='siteInput' form='textform' name='desire'></textarea>
        <form action="{{ url_for('result')}}" id='textform' method='post'>
          <input type="submit" id='submitButton' form='textform'>
        </form>
    </div>
    
    <center style='position:relative; top:100px;'>
        <h3>Not sure what you're looking for?  Perhaps you're looking for one of these:</h3>
        <p>To find love?</p>
        <p>To alter the past?</p>
        <p>To change your appearance?</p>
        <p>To summon someone?</p>
        <p>To find good luck?</p>
        <p>To find something lost?</p>
    </center>
</body>

</html>